@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

body{
    background-color: #E5DEFF;
}

.card{
    width: 400px;
    margin: 20px auto;
    background-color: white;
    /* color: blue; */
}
 
   .card img{
  width: 100%;
}

/* .card h5,.card h3 {
    margin: 0 20px;
    
} */
 .content{
    padding: 10px 20px;
 }

 .card h3{
    margin: 10px 0;
 }


 hr{
    margin: 10px 0;

 }

 .icons{
   color: red;
   font-size: 2px;
 }

